body{
    max-width: 1600px;
    margin-left: 140px;
    margin-right: 140px;
    overflow-x: hidden;
}
@media screen and (max-width:576px){
    body{
        margin-left: 16px;
        margin-right: 16px;
    }
}
.quicksand-regular{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navigation bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part{
    display: flex;
}
nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.home{
    color: orange;  
}
.about{
    color: skyblue;
}
.faci{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.fa-bars{
    display: none;
}
.btn1{
    background-color: orange;
    height: 50px;
    width: 197px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}
@media screen and (max-width:576px) {
    nav h2,a,.btn1{
        display: none;
    }
   nav{
    justify-content: space-between;
   }
    .fa-bars{
        display: contents;
        font-size: 30px;
    }
    .line{
        border-top: 2px solid orange;
        width: 576px;
        margin: 20px 0;
    }
}
/* banner design */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-section h1{
    font-weight: bold;
    font-size: 56px;
}
.banner img{
    width: 467px;
    height: 575px;
}
.emp{
    color: orange;
}
.to-vi{
    color: skyblue;
}
.text-section p{
    font-size: 24px;
}
.btn2{
    background-color: black;
    height: 50px;
    width: 197px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}
@media screen and (max-width:576px){
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .text-section{
        text-align: center;
    }
}
/* curriculum design */
.card-secton{
    margin-top: 60px;
    background-image: url('./assets/bg.png');
    width: 100%;
    height: auto;
    margin: 0px auto;

}
.h2{
    margin-bottom: 80px;
    font-size: 42px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 80px;
    /* background-color: white; */
    
}
.card1, .card2, .card3{
    height: 400px;
    width: 368px;
    padding: 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .card1{
    background: linear-gradient(0deg,
    rgba(222, 245, 255, 0.93) -60%,
    rgba(255, 255, 255, 1.00) 100%);
 }
 .card2{
    background: linear-gradient(0deg,
    rgba(255, 244, 220, 1.00) -60%,
    rgba(255, 255, 255, 1.00) 100%);
 }
 .card3{
    background: linear-gradient(0deg,
    rgba(238, 225, 255, 1.00) -60%,
    rgba(255, 255, 255, 1.00) 100%);
 }
 .card1 a{
    font-weight: 500;
    text-decoration: none;
    color: #64C8FF;
    position: static;
 }
 .card2 a{
    font-weight: 500;
    text-decoration: none;
    color: #F0AA00;
    position: static;
 }
 .card3 a{
    font-weight: 500;
    text-decoration: none;
    color: #8700FF;
    position: static;
 }
.angle{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.angle button{
    border: none;
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
}
.angle button:hover{
    background-color: rgb(210, 152, 46);
}
@media screen and (max-width:576px){
    .card-secton{
        margin-bottom: 0px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .cards a{
        display: contents;
    }
    .angle{
        display: none;
    }
}
/* footer design */
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    background-color: #64C8FF;
    gap: 20px; 
}

.logo {
    display: flex;
    margin-left: auto; 
    align-items: center; 
}

.logo img {
    height: 78px;
}

.logo h3 {
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-left: 10px; 
}

.branch1,.branch2,.branch3 {
    text-align: left;
}

.branch1 p,.branch2 a,h4 ,.branch3 h4 {
    color: white;
}

.branch2 h4,.branch3 h4 {
    font-weight: 600;
    font-size: 24px;
}

.branch2 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
}

@media screen and (max-width: 576px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        padding: 20px;
    }

    .logo {
        margin-left: 0; 
        margin-bottom: 20px; 
    }

    .branch1,.branch2,.branch3 {
        text-align: left;
        margin-bottom: 20px;
    }
}



    